# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/README.txt
/project.zip
/Paulscode SoundSystem CodecIBXM License.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
/gradle.properties
/forge-1.12.2-14.23.2.2617-changelog.txt
/CREDITS-fml.txt
